<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Blog" tabIcon="pizza"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="FAQ" tabIcon="information"></ion-tab>
</ion-tabs>
