<!--
  Generated template for the BlogDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ (blog$|async)?.title }}</ion-title>
    <ion-buttons end>
      <input #blogtitle [value]="(blog$|async)?.title" type="hidden" />
      <input #blogbody [value]="(blog$|async)?.body" type="hidden" />
      <input #blogimage [value]="(blog$|async)?.image" type="hidden" />
      <button ion-button icon-only  (click)="editBlog(pk,blogtitle.value,blogbody.value,blogimage.value)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only  (click)="removeBlog(pk)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>


<ion-card>
            <img src="{{ (blog$ | async )?.image }}" [hidden]="!(blog$ | async )?.image"/>
            <ion-card-content>
              {{ (blog$ | async )?.body }}
            </ion-card-content>
  </ion-card>
  <ion-card style="overflow: scroll;height:50%;">
                    <h2>Comments: </h2>

     <ion-card *ngFor="let comment of comments$ | async">
                    <ion-card-content>
                      {{ comment.body }}
                    </ion-card-content>
    </ion-card>

  </ion-card>
  <ion-fab bottom right fixed>
     <button ion-fab color="secondary"  (click)="presentPromptComment()">
       <ion-icon name="add">

       </ion-icon>
     </button>
   </ion-fab>


</ion-content>
