<ion-header>

  <ion-navbar>
    <ion-title>BlogList</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let blog of blogs$ | async">
    <ion-card-header>
      <ion-card-title>
        {{ blog.title }}
      </ion-card-title>
    </ion-card-header>
    <ion-img src="{{ blog.image }}" [hidden]="!blog.image" height="100%" width="100%" ></ion-img>
    <ion-card-content>
      {{ blog.body }}
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button (click)="goToDetail(blog.id)" ion-button icon-start clear small>
          <ion-icon name="view"></ion-icon>
          <div>view</div>
        </button>
        <button (click)="removeBlog(blog.id)" ion-button icon-start clear small>
          <ion-icon name="trash"></ion-icon>
          <div>delete</div>
        </button>

      </ion-col>

    </ion-row>

  </ion-card>

   <ion-fab bottom right>
     <button ion-fab color="secondary" (click)="presentPromptBlog()">
       <ion-icon name="add">

       </ion-icon>
     </button>
   </ion-fab>


</ion-content>
